@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;600&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
